/* /* *{                       CODE FOR PLACEMENT OF EMPTY CONTAINER IN CENTER
    margin: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li{
    list-style:none;
    padding: 10px;
    margin: 2px;
}

#logo{
   background: rgb(0, 255, 64);
   width: 80vw;
   height: 200px;
}

.layer{
    background: gray;
    width: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav,footer{
    flex-shrink:0;
}

section{
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

* {
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    padding: 10px;
    margin: 2px;
}

#logo {
    width: 30vw;
    height: 200px;
    display: flex;

}

#logo img {
    width: 100%;
    height: auto;
}

.layer {
    background: gray;
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav,footer {
    flex-shrink: 0;
}

section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    margin-top: 20px;
}

#search-input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
}

#search-button,#feeling-lucky {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}  


